*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    /* --color-first: rgb(61, 58, 58); */
    --color-first: #131921;
    --color-second: #3b4149;
    --color-button: #febd69;
    --color-third: #232f3e;
}


a{
    text-decoration: none;
    display: inline-block;
}